.intro-main-div {
    margin-top: 120px;
    display: flex;
}

.intro-text-div {
    margin-left: 50px;
    margin-bottom: 50px;

}

.intro-main-div > * {
    flex: 1;
    margin-bottom: 50px;
}

.intro-image-div > img {
    max-width: 100%;

    margin-left: 20px;
    padding-top: 120px;
    height: auto;
}

.intro-text-subtitle {

    font-size: 16px;
    margin-right: 20%;
    text-align: justify;
}

.intro-heading {

    font-size: 56px;
    font-weight: 400;
}

/* Media Query */
@media (max-width: 1380px) {
    .intro-heading {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .intro-heading {
        font-size: 30px;
        text-align: center;
    }

    .greeting-text-p {
        font-size: 16px;
        line-height: normal;
    }

    .intro-main-div {
        flex-direction: column
    }

    .intro-text-div {
        margin-left: 0px;
        margin: 20px;
    }

    .intro-text {
        font-size: 16px;
    }

    .intro-text-subtitle {
        font-size: 26px;
        margin-right: 20%;
        text-align: justify;
    }

    .intro-image-div {
        /* display: none; */
        order: 2;
    }
}
  