/*Author : Rohan Patel*/

.preview-container {
    width: 100%;
    border-radius: 20px;
}

.preview-name {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.preview-description {
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 0;
}

.preview-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}