.restaurant-bgimage {
    height: 200px;
    width: 300px;
    border-radius: 5%;
}


.primaryButton {
    border: 2px solid white;
    color: white;
    background-color: rgb(0, 51, 204);
    margin-right: 50px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;

}


#formtoupload {
    margin-left: 50px;
    margin-top: 20px;
}

#formtouploadbgimage {
    margin-left: 50px;
    margin-top: 20px;
}


.inputUpload {
    padding-left: 55px;
}

.inputUploadbgimage {
    padding-left: 55px;
}

/*
#logoFile:hover {

    background-color: white;
    border: 2px solid  rgb(0, 51, 204);;
    color:  rgb(0, 51, 204);;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


#bgimage:hover {

    background-color: white;
    border: 2px solid  rgb(0, 51, 204);;
    color:  rgb(0, 51, 204);;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
} */


.card-body {
    float: left;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.pricing-header {
    max-width: 500px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
