.line-img {
    height: 300px
}

.line-left-col {

}

.line-right-col {

}


/*EXTRA SMALL SCREEN SIZE*/
@media only screen and (max-width: 567px) {
    .line-left-col {
        display: none;
    }
}


/*MEDIUM SCREEN SIZE  (md in bootstrap)*/
@media only screen and (max-width: 820px) {
    .line-img {
        height: 180px;
    }

}
