
.welcome-content-container {
    margin-top: 5%;
    display: block;
    width: 100%;
    min-height: calc(100vh - 155px);
    background: url(wave.svg) no-repeat center center;
    background-size: cover;
}

.main-wave-container {
    min-height: calc(93vh - 400px);
}

.h1title {
    font-weight: bolder;
}

.paragraph {
    color: #7180a2;
    font-weight: 500;
}

.primary-button-landing-page {
    background-color: #0033cc;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
}

.primary-button-landing-page:hover {
    background-color: #0009a2;
}

.primaryButton {
    background-color: #0033cc;
    color: white;
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    align-items: center;
    justify-content: center;
}

.secondaryButton {
    background-color: white;
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.dangerButton {
    background-color: #E61C5D;
    color: white;
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #E61C5D;
    align-items: center;
    justify-content: center;
}

.dangerButton:hover {
    background-color: #C4003B;
    transition-duration: 500ms;
    border-color: #C4003B;
}

.ternaryButton {
    background-color: #ffbd39;
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #ffbd39;
    align-items: center;
    justify-content: center;
}

.ternaryButton:hover {
    background-color: #dd9b17;
    transition-duration: 500ms;
    border-color: #dd9b17;
}

.primaryButton:hover {
    background-color: #0009a2;
    transition-duration: 500ms;
}

.secondaryButton:hover {
    background-color: black;
    color: white;
    transition-duration: 400ms;
}

